:root {
    --primary-color: #91C499;
    --secondary-color: #595959;
    --accent1-color: #ADC178;
    --accent2-color: #CFD11A;

    --heading-font: "Manrope", cursive, Verdana, Geneva, Tahoma;
    --paragraph-font: Arial, Helvetica, sans-serif;

    --nav-background-color: #000;
    --nav-link-color: #fff;
    --nav-hover-link-color: #000;
    --nav-hover-background-color: #fff;
}

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/*END RESET*/


/* GENERAL STYLE */
body {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    margin: 0 auto;
    line-height: 1.5;
    min-width: 600px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 600;
    text-align: center;
    font-weight: 800;
    padding: 0.5rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 400;
    padding: 0.7rem;
}

p {
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 2.3rem;
}
/* END GENERAL STYLING */



/* NAVIGATION */
header {
    padding: 0;
    background-color: var(--nav-background-color);
    text-align: center;
    margin: 0 auto;
}
.logo {
    padding: 0.5rem;
    max-width: max(15%, 200px);
}

.logo img {
    width: 100%;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    line-height: 1.5em;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    font-size: clamp(1rem, 1.5vw, 2rem);
    white-space: nowrap;
}

.navigation a:hover, .navigation a:active {
    color: var(--nav-background-color);
    background-color: var(--nav-hover-background-color);
}

.open li {
	display: block;
}

#menu {
    font-size: 2.5rem;
	border: 0;
	background: none;
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
}

#menu::before {
	content: "☰";
    color: var(--nav-link-color);
}

#menu.open::before {
	content: "⚪";
}

/* END NAVIGATION */

/* HERO STYLE */
.hero {
    position: relative;
}

.background img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    bottom: 5rem;
    right: 10%;
    text-align: center;
    padding: 0.7rem;
    width: 80%;
    background-color: rgb(0, 0, 0, 0.65);
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: clamp(2rem, 4vw, 3rem);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: rgb(0, 0, 0, 0.65);
    padding: 0.5rem;

}


/* END HERO STYLE */

/* BANNER DISPLAY STYLE */

#banner {
    background-color: var(--accent2-color);
    color: var(--nav-background-color);
    font-size: 2rem;
    padding: 2rem;
    margin: 1.5rem auto;
    border: red 5px dotted;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

#banner h2 {
    color: red;
    font-weight: 700;
    font-size: larger;
    border-bottom: red 5px solid;
    padding: 1rem;
}

#banner p {
    padding: 1rem;
    font-size: 2rem;
}   

.close-btn {
    font-size: clamp(2rem, 4vw, 4rem);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: var(--accent2-color);
    padding: 0.5rem;
    border: none;
}

.close-btn:hover {
    background-color: #fff;
}

/* END BANNER DISPLAY STYLE */


/* ABOUT STYLE */

.about {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.featured {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured img{
    width: 100%;
    border: var(--accent1-color) 2px solid;
    box-shadow: 0 0 20px var(--accent1-color);
}

.content {
    padding: 1rem;
    text-align: center;
    align-self: center;
}

/* END ABOUT STYLE */

/* PODIUM STORES STYLE  */
.stores {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stores h2 {
    text-align: center;
    border-bottom: #ADC178 5px solid;
    padding: 1rem;
    margin: 1rem;
}

.podium {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.business {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business :first-child{
    width: 100%;
    border: var(--accent1-color) 2px solid;
    box-shadow: 0 0 20px var(--accent1-color);
}


/* END PODIUM STORES STYLE */

/* JOIN SECTION STYLE */

.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-bottom: var(--accent1-color) 5px solid;
}
.join h3 {
    text-align: center;
    padding: 1rem;
}

.button {
  background-clip: padding-box;
  background-color: var(--accent1-color);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #595959;
  cursor: pointer;
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  width: auto;
}

.button:hover,
.button:focus {
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: var(--accent1-color);
}

.button:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: var(--nav-link-color);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* END JOIN SECTION STYLE */

/* CONTACT STYLE  */

.chinas {
    display: block;
    max-width: min(75%, 1000px);
    height: auto;
    align-items: center;
    margin: 0 auto;
}

.chinas img {
    width: 100%;
}

.contact .info {
    margin: 0 auto;
    padding: 1rem;
}

.info h3 {
    text-align: center;
    border-bottom: #91C499 3px solid;
}

.info p {
    font-size: 1.5rem;
    text-align: center;
}

/* END CONTACT STYLE  */


/* FOOTER STYLE */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2em;
    background-color: var(--nav-background-color);
    color: var(--accent1-color);
}

.sociallinks {
    display: flex;
    line-height: 1.5em;
    padding: 1rem;
    justify-content: flex-end;
}

.sociallinks a {
    text-decoration: none;
    width: 50px;
    padding: 0.3rem;
}

.sociallinks a img {
    width: 100%;
}

footer p {
    padding: 1rem;
    white-space: nowrap;
    color: var(--accent1-color);
}


/* DARK MODE STYLE */

.dark-mode {
	background-color: #000;
	color: #fff;
	border-color: var(--accent2-color); 
}



/* SPECIFIC STYLE FOR DISCOVER.HMTL PAGE */

.cultural{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side {
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}   

.store {
    margin: 0.5rem;
}

.store img {
    width: 100%;
    aspect-ratio: 16/9;
}
.store :first-child{
    width: 100%;
    border: var(--accent1-color) 2px solid;
    box-shadow: 0 0 20px var(--accent1-color);
}

.facts {
    display: block;
    border: var(--accent1-color) 2px solid;
    width: 300px;
    height: 300px; 
    border-radius: 1.5rem;
    margin: 1rem;
}

.fact p {
    padding: 1rem;
    text-align: center;
    align-content: center;
    font-family: var(--heading-font);
    font-size: 1rem;
}

.maps, .calendar {
    margin: 1rem;
    width: 300px;
    height: 300px;
} 

.maps iframe {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.calendar iframe {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}


/* FORM STYLE */

form {
    margin: 1rem;
    padding: 1rem;
    border: var(--primary-color) solid 3px;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    margin: 1.5rem;
}

legend {
    padding: 1rem;
    color: var(--accent1-color);
    font-size: 1.5em;
}

label, input, button, select, textarea {
    font-family: var(--font-family);
    font-size: 1.5rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea, radio {
    padding:.7rem;
    font-size: 1.1rem;
}

.grid{
    margin: 1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

.grid2{
    margin: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.label{
    padding: 1rem;
    text-align: left;
}

.button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.button:hover {
    background-color: var(--accent1-color);
    color: #fff;
}

.subs {
    display: flex;
    flex-direction: column;
    border: var(--primary-color) 2px solid;
    background-color: var(--primary-color);
    color: #fff;
    width: 300px;
    height: 180px; 
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
}

.subs p {
    font-size: 1.5rem;
    font-weight: 600;
}

.subs ol {
    list-style: disc;
}

/* Thank you Style */

.thankyou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thankyou p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--heading-font);
}

/* END SPECIFIC STYLE FOR DISCOVER.HMTL PAGE */

/* DIRECTORY STYLE */

.menu {
    margin: 1rem auto;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    text-align: center;
    width: 20%;
    min-width: 300px;
    border-radius: 1.5rem;
}

.gridDirectory {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 5px;
}

.gridDirectory section {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.gridDirectory img {
    border: var(--accent2-color) solid 2px;
    width: 80%;
    height: auto;
    margin: 1rem auto;
    aspect-ratio: 16/9;
}

.cards section {
    box-shadow: 2px 2px 15px var(--accent2-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.cards p {
    color: #fff;
    padding: 1rem;
}

.list {
    display: flex;
    flex-direction: column;  
}

.list section {
    margin: .5rem;
}

.list img {
    display: none;
}

.list section > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}
.list section:nth-child(even) {
	background-color: #000;
}