@media screen and (min-width: 900px) {
    
    /* SIZE OF BODY */
    body {
        min-width: 900px;
    }

    /* NAVIGATION DISPLAY MENU */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
   
    header #menu {
        display: none;
    }

    header .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header .navigation li {
        display: block;
        padding: 1rem;
    }

    header .navigation a {
        text-align: center;
    }
}